<!DOCTYPE html>
<html>
<head>
  <title>JobBoard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_company %>
  <%= "You are logged in as #{current_company.email}"%>
  -
  <%= link_to "Log out", session_path, :method => :delete %>
<% else %>
  <%= link_to "Log in", new_session_path %>
<% end %>

<%= flash[:error] %>
<%= flash[:notice] %>

<%= yield %>

</body>
</html>
